/*
  Author: Steven Van Sant
  doctype: css
  License: MIT License
*/

/* [keyframes] */
@keyframes gYmin-1{
  0%{
    top: 0%;
  }
  100%{
    top: -180px;
  }
}
@keyframes gYadd-1{
  0%{
    top: 0%;
  }
  100%{
    top: 200px;
  }
}
@keyframes gBar-1{
  0%{
    padding-left: 0%;
    padding-right: 0%;
  }
  100%{
    padding-left: 48%;
    padding-right: 48%;
  }
}