/*
  Author: Steven Van Sant
  doctype: css
  License: MIT License

	Download Instructions:
		{{
		git!:
			git clone "https://pireel-CSS.github.com"; #
		}}
	# css git repository needs to be created
*/
/* [hive menu] ***** */
aside[is="hive-menu"]{
	position: fixed;
	display: block;
	box-sizing: border-box;
	height: 200px;
	width: 200px;
	background-color: rgb(75,75,75);
	border-radius: 100%;
}
/* [discus controls] */
div[is="discus-controls"]{
	width: 100px;
	height: 100px;
	background-color: rgb(255,255,125);
	border-radius: 100%;
}
/* [menu][tray] */
j-menu, j-tray{
	display: inline-block; 
	box-sizing: border-box;
	overflow: hidden;
	background-color: rgba(255,255,255,.55); 
	border: outset 2px rgb(98,98,98);
}
	j-menu > j-tray:first-child{
		position: absolute; 
		top: 0px;
		left: 0px;
		width: 100%; 
		height: 1.125vw; 
	}
	j-menu > j-tray:last-child{
		position: absolute; 
		top: calc(100%-1.125vw);
		left: 0px;
		width: 100%; 
		height: 1.125vw; 
	}
	body > j-tray:first-child{
		position: fixed; 
		top: 0px;
		left: 0px;
		width: 100%; 
		height: 1.125vw; 
	}
	body > j-tray:last-child{
		position: fixed; 
		top: calc(100%-1.125vw);
		left: 0px;
		width: 100%; 
		height: 1.125vw; 
	}

/* [j-select][j-check][j-option][j-check] */
j-select > j-check, j-option > j-check{
    position: relative; 
    height: 1vw;
	width: inherit;
	padding: .25vw;
    display: inline-block; 
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(255,255,255,1);
}

/* [j-ico] */
j-ico{
	display: block;
	box-sizing: border-box;
	background-repeat: no-repeat;
}
	j-menu > j-ico[data-active = "true"]{
		background-color: rgba(175,200,255,1);
		border: solid orange 1px;
	}
	j-ico:hover,j-min:hover,j-switch:hover, j-select > j-check:hover, j-option > j-check:hover{
		background-color: rgba(255,255,255,.75);
		border: solid orange 1px;
	}
