/* ***** [css document] ***** */


/* ***** [main dispaly] ***** */
main.display{
	position: relative;
	box-sizing: border-box;
	width: 100%;
}
main.display > p{
	display: inline-block;
	width: 50%
}

