/*
  Author: Steven Van Sant
  Stylesheet
*/

/* [html] */
body{
    font-size:1vw;
}

/* [xhtml] */
j-tray{
  display: block; overflow: hidden;
}
j-select{
    position: relative;
    display: inline-block; overflow-Y: hidden; overflow-X: hidden; 
    background-color: rgb(255,255,255);
}
j-option{
  position: relative;
  width: 100%; height: auto; 
  display: block; overflow: hidden;
  background-color: rgb(255,255,255);
}

/* [utility classes] */
.memory{
  position: fixed; left: 0px; top: 0px; width: 0px; height: 0px;
  overflow: hidden; opacity: 0;
}
.tray{
  position: relative; left: auto; top: auto; width: auto; height: auto;
  overflow-X: hidden; overflow-Y: scroll;
  background: rgba(77,77,77,1);
  border: outset 2px rgba(177,177,177,1);
}
.display{
  margin: 5px 0px 5px 0px;
  display: block;
  background: rgba(240,240,255,1);
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.canvas{
  display: inline-block;
  background: rgba(215,215,255,1); fill: rgba(240,240,255,1);
}
.btn{
  padding: 1px; margin: 0px 2px 0px 2px;
}
.banner-tray{
    position: absolute;
  }

/* [text classes] */
.lite-text{
  color: rgba(215,215,215,1); stroke: rgba(215,215,215,1); fill: rgba(75,75,85,1);
}
.dark-text{
  color: rgba(75,75,85,1); stroke: rgba(75,75,85,1); fill: rgba(75,75,85,1);
}

.steel-text{
  color: rgba(175,175,185,1); stroke: rgba(175,175,185,1); fill: rgba(175,175,185,1);
}
.lite-outline{
  stroke: rgba(175,175,185,1); 
}
.dark-outline{
  stroke: rgba(75,75,85,1); 
}
.paragraph{
  font-size: 18px;
}
.sub-title{
  font-size: 30px;
}
.h5{
  font-weight: bold;
  text-decoration: underline;
}

/* [media qeuries] */
@media screen and (min-width: 160px){
  .logo{
    width: 100%; height: auto;
  }
  .banner-tray{
    height: 10px;
  }
}

@media screen and (min-width: 360px){
  .logo{
    width: 50%; height: auto;
  }
  .banner-tray{
    left: 815px; top: 30px;
  }
}

@media screen and (min-width: 640px){
  .logo{
    width: 50%; height: auto;
  }
}

@media screen and (min-width: 800px){
  body{
    font-size: 1.75vw;
}
  .logo{
    width: 50%; height: auto;
  }
  .banner-tray{
    left: 815px;; top: 2.75vw; width: 30%; height: auto;
  }
}

/* [platform classes] */
.google-sheets{
  background-image: url(https://ssl.gstatic.com/docs/spreadsheets/favicon_jfk2.png);
}

