/*
  Author: Steven Van Sant
  Stylesheet
*/

/* [fonts] */


/* [html] */
body{
  font-family: Fira Mono;
  font-size: .85vw;
}
a:link{
  color: rgba(215,215,215,1); stroke: rgba(215,215,215,1); fill: rgba(75,75,85,1);
}
a:visited{
  color: rgba(255,175,17,1); stroke: rgba(255,215,215,1); fill: rgba(175,75,85,1);
}
a:hover{
  background-color: rgb(225,225,225);
  color: rgb(100,175,100); stroke: rgba(165,165,255,1); fill: rgba(65,65,125,1);
}
a:active{
  background: rgb(225,225,225);
  color: rgb(255,255,17); stroke: rgba(255,17,17,1); fill: rgba(175,75,85,1);
}
input[type="button"]{
  background-color: orange;
}
input[type="button"]:hover{
  background-color:  skyblue;
}
input[type="button"]:active{
  background: yellow;
}
input[type="button"]:focus{
  background-color: yellow;
}
form{
  box-sizing: border-box;
  display: inline-block;
}
fieldset{
  box-sizing: border-box;
  background: white;
}

/* [xhtml] */
/* [j-header] */
j-header{
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
}
body > j-header:first-child{
  position: fixed; top: 0px; left: 0px;
  margin: 0%;
}
body > j-header:first-of-type{
  position: fixed;
  top: 75px;
}

/* [j-tray] */
j-tray{
  display: inline-block; 
  box-sizing: border-box;
  overflow-Y: hidden; 
  overflow-X: hidden;
  background-color: rgba(255,255,255,.55); 
  border: ridge 2px rgb(98,98,98);
}
body > j-tray:first-child{
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 75px; 
}
body > j-tray:last-child{
    position: fixed; 
    top: calc(100%-75px);
    left: 0px;
    width: 100%; 
    height: 75px; 
}


/* [json-canvas] */
json-canvas{
  display: block;
  box-sizing: border-box;
}
/* [j-select] */
j-select{
    position: relative; height: 100%;
    display: inline-block; box-sizing: border-box;
    overflow-Y: hidden; overflow-X: hidden;
    background-color: rgba(255,255,255,.9);
}

/* [j-option] */
j-option{
  position: relative;
  width: 84%; height: 100%; left: 0%; top: 0%;
  padding-left: 1%;
  display: block; box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(100,100,100,.95);
}
j-option:hover{
  background: rgb(225,225,225);
  color: rgb(95,95,115);
}
j-option:active{
  background: rgb(225,225,225);
  color: rgb(255,95,115);
}

j-toggle{
  position: absolute; 
  left: 90%; 
  top: 0%;
  margin: 5px 0px 5px 5px; 
  padding: 0px 5px 0px 5px; 
  border: outset 2px; 
  border-radius: 100%;
  display: inline-block; 
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(255,177,17,1);
  color: rgb(95,95,115);
}
j-toggle:hover{
  border: outset 2px; border-radius: 100%;
  background-color: rgba(100,175,100,1);
}
j-toggle:active{
  border: outset 2px; border-radius: 100%;
  background-color: rgba(255,255,17,1);
  color: rgb(95,95,115);
}

j-select > j-check, j-option > j-check{
  position: absolute; left: 85%; top: 0%; z-index: 10; width: 5%; height: 100%;
  background: white;

  
}
j-select > j-check:hover, j-option > j-check:hover{
  background: skyblue; 
  border: ridge 2px;
}
j-select > j-check:active, j-option > j-check:active{
  background: yellow; 
  border: ridge 2px;
}

/* [j-btn] */
j-btn{
  display: inline-block;
  box-sizing: border-box;
  padding: 2px;
  background: rgba(200,200,200,1);
  border: rgba(150,150,150,1) 2px outset;
}

/* [j-ico] */
j-ico{
  display: block;
  box-sizing: border-box;
}

/* j-class */
j-curtain{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: rgba(255,177,17,1);
  border: 2px solid black;
}

/* [j-el] */
j-el{
  display: inline-block;
  box-sizing: border-box;
}

/* [utility classes] */
.memory{
  position: fixed; left: 0px; top: 0px; width: 0px; height: 0px;
  overflow: hidden; opacity: 0;
}
.logo{
  background-repeat: no-repeat;
  background-size: contain;
}
.tray{
  position: relative;
  overflow-: hidden; 
  background: rgba(147,147,147,1); 
  border: groove 2px rgba(177,177,177,1);
}
.marker-board{
  display: block;
  background: white;
}
.circle{
  border-radius: 100%;
}
.display{
  margin: 5px 0px 5px 0px;
  display: block;
  background: rgba(255,255,255,.95);
}
.canvas{
  display: inline-block;
  background: rgba(215,215,255,1); fill: rgba(240,240,255,1);
  overflow-X: scroll; overflow-Y: scroll;
}
.form{
  position: relative; width: 55%; height: 90%;
  border: 3px inset rgb(99,99,99);
  background: rgba(245,245,255,1); fill: rgba(245,245,255,1);
}
.blog{
  margin: 2.5% 5% 2.5% 5%;
}
.btn{
  padding: 1px; margin: 0px 2px 0px 2px;
}
.abs{
  position: absolute;
}
.oFlow{
  overflow: scroll;
}
.ico-btn{
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-repeat: none;
}

/* [simple classes] */
.abs{
  position: absolute;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.margin-small{
  margin: 5px;
}
.padding-medium{
  padding: 10px;
}
.padding-small{
  padding: 5px;
}
.margin-medium{
  margin: 10px;
}
.flt-right{
  float: right;
}
.top{
  top: 0px;
}
.left-20{
  left: 20%;
}
.left-80{
  left: 80%;
}
.height-fill{
  height:100%;
}
.bg-pireGrey{
  background: rgba(147,147,147,1); 
}
.bd-pireGray{
  border: solid 2px rgba(177,177,177,1);
}
.bg-liteGreen{
  background: rgba(175,255,175,1);
}
.bd-liteGreen{
  border: 2px solid rgba(175,255,175,1);
}
.bg-darkGreen{
  background: rgba(100,180,100,1);
}
.bd-darkGreen{
  border: solid 2px rgba(100,180,100,1);
}
.bg-white{
  background: white;
}
.bd-white{
  border: white 2px solid;
}

/* [text classes] */
.lite-text{
  color: rgba(189,189,189,1); stroke: rgba(189,189,189,1); fill: rgba(75,75,85,1);
}
.dark-text{
  color: rgba(100,100,115,1); stroke: rgba(100,100,115,1); fill: rgba(75,75,85,1);
}
.steel-text{
  color: rgba(175,175,185,1); stroke: rgba(175,175,185,1); fill: rgba(175,175,185,1);
}
.lite-stroke{
  stroke: rgba(175,175,185,1); 
}
.dark-stroke{
  stroke: rgba(75,75,85,1); 
}
.text{
  font-size: 1.125vw;
}
.title{
  font-size: 3.5vw;
}
.sub-title{
  font-size: 3vw;
}
.bold-underline{
  font-weight: bold;
  text-decoration: underline;
}

/* [media qeuries template] */
@media screen and (max-width: 1960px){
}

@media screen and (max-width: 800px){
}

@media screen and (max-width: 640px){
}

@media screen and (max-width: 360px){
}

@media screen and (max-width: 160px){
}

@media screen and (min-width: 800px){
}

/* [platform classes] */
/* [google] */
.google{ 
  
}
.google-sheets{
  background-image: url(https://ssl.gstatic.com/docs/spreadsheets/favicon_jfk2.png);
}
.google-docs{
  background-image: url(https://ssl.gstatic.com/docs/documents/images/kix-favicon6.ico);
}

/* [pi reel] */
.pireel-1{
  background-image: url(../img/logos/pireel-01.png);
}
.pireel-5{
  background-image: url(../img/logos/pireel-05.png);
}
.pireel-core{
  background-image: url(../img/pireel-icon.svg);
}
