/*
  Author: Steven Van Sant
  Stylesheet
*/

/* [html] */
body{
    font-size: 16px;
}
a:link{
  color: rgba(215,215,215,1); stroke: rgba(215,215,215,1); fill: rgba(75,75,85,1);
}
a:visited{
  color: rgba(255,175,17,1); stroke: rgba(255,215,215,1); fill: rgba(175,75,85,1);
}
a:hover{
  background-color: rgb(225,225,225);
  color: rgb(100,175,100); stroke: rgba(165,165,255,1); fill: rgba(65,65,125,1);
}
a:active{
  background: rgb(225,225,225);
  color: rgb(255,255,17); stroke: rgba(255,17,17,1); fill: rgba(175,75,85,1);
}
input[type="button"]{
  background-color: orange;
}
input[type="button"]:hover{
  background-color:  skyblue;
}
input[type="button"]:active{
  background: yellow;
}
input[type="button"]:focus{
  background-color: yellow;
}
form{
  box-sizing: border-box;
  display: inline-block;
}
fieldset{
  box-sizing: border-box;
}

/* [xhtml] */
j-header{
  position: fixed; top: 0px; left: 0px;
  margin: 2%;
}
j-tray{
  padding: 0px 10px 0px 10px;
  display: inline-block; box-sizing: border-box;
  overflow-Y: hidden; overflow-X: hidden;
  background-color: rgba(255,255,255,.55); border: ridge 2px rgb(98,98,98);
}
j-select{
    position: relative; height: 100%;
    display: inline-block; box-sizing: border-box;
    overflow-Y: hidden; overflow-X: hidden;
    background-color: rgba(255,255,255,.9);
}
j-option{
  position: relative;
  width: 84%; height: 100%; left: 0%; top: 0%;
  padding-left: 1%;
  display: block; box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(100,100,100,.95);
}
j-option:hover{
  background: rgb(225,225,225);
  color: rgb(95,95,115);
}
j-option:active{
  background: rgb(225,225,225);
  color: rgb(255,95,115);
}
j-toggle{
  position: absolute; left: 92%; top: 0%;
  padding: 0px 5px 0px 5px; 
  border: outset 2px; border-radius: 100%;
  display: inline-block; box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(255,177,17,1);
  font-size: 1.35vw;
  color: rgb(95,95,115);
}
j-toggle:hover{
  position: absolute; left: 92%; top: 0%;
  padding: 0px 5px 0px 5px; 
  border: outset 2px; border-radius: 100%;
  display: inline-block; box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(100,175,100,1);
  font-size: 1.35vw;
}
j-toggle:active{
  position: absolute; left: 92%; top: 0%;
  padding: 0px 5px 0px 5px; 
  border: outset 2px; border-radius: 100%;
  display: inline-block; box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(255,255,17,1);
  font-size: 1.35vw;
  color: rgb(95,95,115);
}
j-select > j-check, j-option > j-check{
  position: absolute; left: 85%; top: 0%; z-index: 10; width: 5%; height: 100%;
  background: white;

  
}
j-select > j-check:hover, j-option > j-check:hover{
  background: skyblue; 
  border: ridge 2px;
}
j-select > j-check:active, j-option > j-check:active{
  background: yellow; 
  border: ridge 2px;
}
j-data{
  position: relative; width: 10%; height: 100%;
  display: inline-box; box-sizing: border-box;
  margin-left: 1%;
  background: rgba(255,0,0,.25);
}
j-class{
  position: absolute; left: 95%; top: -10px; z-index:10;
  padding: 10px;
  display: block;
  float: right; 
  box-sizing: border-box;
  background-color: rgba(0,0,185,1);
}

/* [utility classes] */
.memory{
  position: fixed; left: 0px; top: 0px; width: 0px; height: 0px;
  overflow: hidden; opacity: 0;
}
.tray{
  position: relative; left: auto; top: auto; width: auto; height: auto;
  overflow-X: hidden; overflow-Y: hidden; 
  background: rgba(147,147,147,1); border: groove 2px rgba(177,177,177,1);
}
.marker-board{
  background: white;
}
.circle{
  border-radius: 100%;
}
.display{
  margin: 5px 0px 5px 0px;
  display: block;
  background: rgba(240,240,255,1);
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.margin-small{
  margin: 5px;
}
.padding-small{
  padding: 5px;
}
.margin-medium{
  margin: 10px;
}
.padding-medium{
  padding: 10px;
}
.flt-right{
  float: right;
}
.canvas{
  display: inline-block;
  background: rgba(215,215,255,1); fill: rgba(240,240,255,1);
  overflow-X: scroll; overflow-Y: scroll;
}
.form{
  position: relative; width: 55%; height: 90%;
  border: 3px inset rgb(99,99,99);
  background: rgba(245,245,255,1); fill: rgba(245,245,255,1);
}
.blog{
  margin: 2.5% 5% 2.5% 5%;
}
.btn{
  padding: 1px; margin: 0px 2px 0px 2px;
}
.abs{
  position: absolute;
}
.oFlow{
  overflow: scroll;
}
.jopt-selected{
  background: white;
  border-bottom: 2px black solid;
  color: limegreen;
}

/* [text classes] */
.lite-text{
  color: rgba(189,189,189,1); stroke: rgba(189,189,189,1); fill: rgba(75,75,85,1);
}
.dark-text{
  color: rgba(100,100,115,1); stroke: rgba(100,100,115,1); fill: rgba(75,75,85,1);
}
.steel-text{
  color: rgba(175,175,185,1); stroke: rgba(175,175,185,1); fill: rgba(175,175,185,1);
}
.lite-stroke{
  stroke: rgba(175,175,185,1); 
}
.dark-stroke{
  stroke: rgba(75,75,85,1); 
}
.paragraph{
  font-size: 18px;
}
.sub-title{
  font-size: 30px;
}
.h5{
  font-weight: bold;
  text-decoration: underline;
}

/* [media qeuries] */
@media screen and (min-width: 160px){
  .logo{
    width: 100%; height: auto;
  }
  .banner-tray{
    height: 10px;
  }
}

@media screen and (min-width: 360px){
  .logo{
    width: 50%; height: auto;
  }
  .banner-tray{
    left: 815px; top: 30px;
  }
}

@media screen and (min-width: 640px){
  body{
    font-size: 1.4vw;
  }
  .logo{
    width: 50%; height: auto;
  }
  .banner-tray{
    left: 815px;; top: 2.75vw; width: 30%; height: auto;
  }
}

@media screen and (min-width: 800px){
  body{
    font-size: 1.4vw;
  }
  .logo{
    width: 50%; height: auto;
  }
  .banner-tray{
    left: 815px;; top: 2.75vw; width: 30%; height: auto;
  }
}

@media screen and (max-width: 800px){
  body{
    font-size: 1.4vw;
  }
  .logo{
    width: 50%; height: auto;
  }
  .banner-tray{
    left: 815px;; top: 2.75vw; width: 30%; height: auto;
  }
}

/* [TV] */
@media screen and (max-width: 1960px){
  body{
    font-size: 1.4vw;
  }
  .logo{
    width: 50%; height: auto;
  }
  .banner-tray{
    left: 815px;; top: 2.75vw; width: 30%; height: auto;
  }
}

/* [platform classes] */
.google-sheets{
  background-image: url(https://ssl.gstatic.com/docs/spreadsheets/favicon_jfk2.png);
}
